.questionNumber{
    font-size: 1.1rem;
    color: rgb(82, 80, 80);
    font-weight: 600;
}

.questionName{
    color: rgb(82, 80, 80);
    font-size: 1.1rem;
    font-weight: 500;
}

.bold {
    font-size: 1.1rem;
    font-weight: 500;
}