.googleButton {
    all: unset;
    cursor: pointer;
    border: 1px solid var(--gray-50);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: ;
    margin:auto ;
    width: 70%;
    gap: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}

.googleButton:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.googleButton span {
    flex: 1;

}