.noGroupPresentSection {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: var(--background-color-secondary);
    display: flex;
    flex-direction:column ;
    padding: 2rem;
    gap: 2rem;
    border-radius: 5px;
}
.container > span {
    font-size: 1.5rem;
    font-weight: 500;
}
