
.textFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.homeText{
    font-size: 1.7rem;
}


@media (max-width: 800px) {
    .homeText{
        font-size: 1.1rem;
    }
}