.container{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    gap: 1.5rem;
}

.newTopicText {
    font-weight: 600;
    font-size: 1.2rem;
}


.topicContainer {
    flex: 1;
    flex-wrap: wrap;
    gap: 0.5rem;
    display: flex;
}
.topic {
    all: unset;
    border: 1px solid var(--gray-100);
    cursor: pointer;
}
.topic:hover {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}
.topic > span  {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color)
}



.module {
    width: 250px;
    min-width: 250px;
    height: 170px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .module:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .module::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.1s ease;
  }
  
  
  .module > header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    z-index: 1;
    /* transition: transform 0.01s ease; */
  }
  
  /* .module:hover > header {
    transform: translateY(-3px);
  }
   */
  .module > header > span {
    margin: 0;
    color: white;
    text-shadow: 0 1px 0 black;
    font-size: 1rem;
    font-weight: 500;
  }

  @media (max-width: 800px) {
    .module {
      width: 200px;
      min-width: 200px;
      height: 130px;
    }
    .module > header > span {
      font-size: 0.9rem
    }

    .module > header {
      padding: 5px 10px;
    }
  }