.drawer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: var(--header-height);
    background-color: var(--background-color-secondary);
    width: var(--drawer-width);
    overflow: hidden;
    transition: width 0.1s ease;
    border-right: 1px solid var(--gray-100);
}