.container {
    padding: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    grid-auto-rows: 10rem;
}

@media (max-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
@media (max-width: 480px) {
.container {
    grid-template-columns: 1fr;
}
}


.addCard {
    all: unset;
    cursor: pointer;
    font-family: inherit;
    border: 2px dashed var(--gray-300);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    transition: all 0.1s ease; /* Smooth transition for all properties */
}

.addCard:hover {
    border-color: var(--gray-500);
    background-color: var(--gray-50); 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.addCard span {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    color: var(--gray-500);
    transition: color 0.1s ease;
}


.item {
    border: 1px solid var(--gray-50);
    cursor: pointer;
    background-color: var(--background-color-primary);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
    font-size: 0.9rem;
    font-family: inherit;
    flex-direction: column;
    transition: color 0.1s ease; 
}
.item:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.itemQuestion {
    text-overflow: ellipsis;
    font-family: inherit;
    padding: 1px 2px;
    border-radius: 4px;
    font-weight: 500;
    color:var(--gray-700);
    overflow: hidden; /* Hide overflowed content */
    white-space: nowrap;
}

.itemAnswer {
    text-overflow: ellipsis;
    font-family: inherit;
    padding: 1px 2px;
    border-radius: 4px;
    font-weight: 500;
    color:var(--gray-600);
    overflow: hidden; /* Hide overflowed content */
    white-space: nowrap;
}



.CreateDialog {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -o-transform: translateX(-50%); 
   transform: translateX(-50%);
    width: 600px;
    padding: 30px;
    background-color: red;
    box-sizing: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
