.selected {
    background-color: var(--primary-color-dark-20);
    color: var(--background-color-primary) !important;
}
.quizLink{
    /* all:unset; */
    text-decoration: none;
    width: 100%;
    white-space: nowrap;        
    overflow: hidden;      
    text-overflow: ellipsis;   
    color: inherit;
    display: inline-block; 
    padding: 3px 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}


.quizLinkContainer {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
    align-items: center;   
}
.quizLinkContainer:hover{
    cursor: pointer;
    color: var(--background-color-primary) !important;
    background-color: var(--primary-color-light-20)
}

.moreIcon{
    visibility: hidden;
}

.quizLinkContainer:hover .moreIcon{
    visibility: visible;
}

